<h1 class='text-center'>Thanks!</h1>
<p>We've recorded your response. If you'd like to make changes, <%= link_to 'click here', response_url_for_inquiry(@inquiry)%>. Otherwise, feel free to close this window.</p>

<p>Your response, along with everyone else's responses, will be e-mailed out to the team in a couple of days.</p>